@model CNPMNC.Models.Phong

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">

        <div>
            <h4>Chi tiết</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DM_Phong.TenLoaiPhong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DM_Phong.TenLoaiPhong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenPhong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenPhong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GhiChu)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GhiChu)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TinhTrang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TinhTrang)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PhongID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>