@model IEnumerable<CNPMNC.Models.Phong>

@{
    ViewBag.Title = "Danh sách phòng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng</h6>
            </div>
            <div class="card-body">
                <div>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Create", "Phongs", new { area = ""})" style="margin-bottom: 10px;">Thêm phòng mới</a>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DM_Phong.TenLoaiPhong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenPhong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TinhTrang)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DM_Phong.TenLoaiPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrang)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PhongID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PhongID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        
    </div>