@model IEnumerable<CNPMNC.Models.Thue_Phong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <h3>Index</h3>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Phong.TenPhong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayThue)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThue)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TP_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TP_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TP_ID })
                    </td>
                </tr>
            }

        </table>
        </div>