@model IEnumerable<CNPMNC.Models.CT_Hoa_Don>

@{
    ViewBag.Title = "Hoá đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Hoá đơn</h4>
            </div>
            <div class="card-body">
                <div>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Create", "CT_Hoa_Don", new { area = ""})" style="margin-bottom: 5px;">Thêm mới</a>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Hoa_Don.HoaDonID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phong.TenPhong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoNgayThue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ThanhTien)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hoa_Don.HoaDonID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoNgayThue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThanhTien)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CTHD_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CTHD_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CTHD_ID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        
    </div>