
@{
    ViewBag.Title = "Danh sách phòng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách phòng</h6>
            </div>
            <div class="card-body">
                <div class="row" style="margin-bottom: 10px; ">
                    @using (Html.BeginForm("TimPhong", "ThuePhong_VM", FormMethod.Post, new { @class = "form-inline d-flex justify-content-center md-form form-sm mt-0" }))
                    {
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" name="tenphong" placeholder="Tìm phòng.."
                               aria-label="Search">
                    }
                    <div>
                        <a type="button" class="btn btn-primary" href="@Url.Action("Create", "DM_Phong", new { area = ""})" style="margin-bottom: 5px;">Thêm loại phòng</a>
                    </div>
                    <div>
                        <a type="button" class="btn btn-primary" href="@Url.Action("Create", "Phongs", new { area = ""})" style="margin-bottom: 5px; margin-left: 10px;">Thêm phòng</a>
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th>
                            Tên phòng
                        </th>
                        <th>
                            Loại phòng
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Tình trạng
                        </th>
                        <th>Ghi chú</th>
                    </tr>

                    @foreach (var item in (dynamic)ViewData["listp"])
                    {
                        <tr>
                            <td>
                                @item.TenPhong
                            </td>
                            <td>
                                @item.TenLoaiPhong
                            </td>
                            <td>
                                @item.DonGia
                            </td>
                            <td>
                                @item.TinhTrang
                            </td>
                            <td>@item.GhiChu</td>
                        </tr>
                    }

                </table>
            </div>
            </div>
        </div>
        

